body {
  font-family: Arial, sans-serif;
  background-color: #b9c1cc;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 20px;
}
table {
  background: transparent;
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}
table,
table th,
table td {
  border: 1px solid rgba(60, 60, 60, 0.8);
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
  text-align: center;
  color: #000;
  border: 1px solid #555;
  background: transparent;
}

.summary-table {
  table-layout: fixed;
}
.summary-table thead tr {
  height: auto;
}
.summary-table th {
  padding: 1px;
}
.summary-table th.vertical {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: relative;
  padding: 0;
  min-height: 200px;
}
.summary-table th.vertical span {
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  /* word-break: break-word; */
}
.controls {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 40px;
}
.controls button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  background-color: transparent;
}
.signature-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 30px;
  width: 100%;
}
.column {
  width: 45%;
}
.label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.sub-label {
  font-size: 0.8em;
  text-align: center;
  border-top: 1px solid #000;
  margin-top: 2px;
}
.date-section {
  margin-top: 20px;
}
.underline {
  display: inline-block;
  min-width: 200px;
  border-bottom: 1px solid #000;
  height: 20px;
}
@media print {
  body {
    background: none;
  }

  .summary-table th,
  .summary-table td {
    background: #fff;
    border: 1px solid #000;
    color: #000;
  }
}
