.summary-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 11px;
}

.summary-table th,
.summary-table td {
  border: 1px solid #000;
  text-align: center;
  padding: 3px;
  vertical-align: bottom;
  overflow-wrap: break-word;
  white-space: normal;
}

.summary-table th.vertical {
  writing-mode: vertical-rl;
  white-space: nowrap;
  height: auto;
  width: auto;
  padding: 10px 5px;
  vertical-align: bottom;
}
